<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>

<form th:action="@{/product/edit}" method="post" th:object="${product}" novalidate="novalidate">
    <table th:border="1">
        <tr>
            <td>Ma san pham</td>
            <td>
                <input type="text" th:field="*{id}" readonly>
            </td>
        </tr>
        <tr>
            <td>Ten san pham</td>
            <td>
                <input type="text" th:field="*{nameProduct}">
            </td>
        </tr>
        <tr>
            <td>Gia</td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
        </tr>
        <tr>
            <td>Mo ta</td>
            <td>
                <input type="text" th:field="*{descProduct}">
            </td>
        </tr>
        <tr>
            <td>Nha san xuat</td>
            <td>
                <input type="text" th:field="*{producer}">
            </td>
        </tr>
    </table>
    <button>Edit</button>
</form>
<a th:href="@{/product}">back home page</a>
<footer th:replace="/layout ::footer">

</footer>
</body>
</html>