*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    margin: 15px;
}

.heading{
    font-size: 25px;
    margin: 20px 0;
}

.title{
    font-size: 18px;
    margin: 20px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    width: 25%;
}

.text-description{
    padding: 12px 20px;
    border: 1px solid #ccc;
    text-align: center;
}