<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/create" th:object="${userDto}" method="post">
    <label for="">First name:</label>
    <input type="text" th:field="*{firstName}">
    <p th:errors="*{firstName}"></p>
    <br>
    <label for="">Last name:</label>
    <input type="text" th:field="*{lastName}">
    <p th:errors="*{lastName}"></p>
    <br>
    <label for="">Email:</label>
    <input type="text" th:field="*{email}">
    <p th:errors="*{email}"></p>
    <br>
    <label for="">Age:</label>
    <input type="text" th:field="*{age}">
    <p th:errors="*{age}"></p>
    <br>
    <label for="">Phone number:</label>
    <input type="text" th:field="*{numberPhone}">
    <p th:errors="*{numberPhone}"></p>
    <br>
    <br>
    <button type="submit">Thêm</button>
</form>
<h2 th:text="${msg}"></h2>
</body>
</html>