

<footer class="footer" id="footer">
    <div class="footer-container container py-5">
        <div class="row">
            <div class="col-4">
                <h3>Furama</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, sunt.</p>
                <p>
                    <i class="fa-solid fa-envelope me-2"></i>
                    <a href="" class="text-dark text-decoration-none">furama@mail.com</a>
                </p>
                <p class="text-dark">
                    <i class="fa-solid fa-phone me-2"></i>
                    +86 222 222
                </p>
                <p class="text-dark">
                    <i class="fa-solid fa-location-dot me-2"></i>
                    Olympus mountain, Mars
                </p>
            </div>
            <div class="col-4">
                <h5>Subscribe</h5>
                <p>Etiam rhoncus. Maecenas temp us, tellus eget condimentum rho</p>
                <form action="">
                    <div class="form-input-footer">
                        <div class="row px-2 align-items-center">
                            <i class="fa-solid fa-user icon-form-input-footer col-1 p-0"></i>
                            <input type="text" placeholder="Name" class="input-footer col-11 p-0">
                        </div>
                    </div>
                    <br>
                    <div class="form-input-footer">
                        <div class="row px-2 align-items-center">
                            <i class="fa-solid fa-envelope icon-form-input-footer col-1 p-0"></i>
                            <input type="email" placeholder="Email" class="input-footer col-11 p-0">
                        </div>
                    </div>
                    <br>
                    <button class="btn-subscribe">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>
