<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head}">
</head>
<body onload="fadeOn()">
<div th:replace="~{common::main}">
</div>
<div class="header-content-body hide" id="content-hero">
    <h1 class="text-center text-white my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, iusto?
    </h1>
    <p class="text-center text-white my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad aperiam asperiores consequatur est et impedit, laborum quas sapiente sit voluptate.
    </p>
    <div class="my-5 text-center">
        <a class="btn btn-primary header-button-link">Get List</a>
        <a class="btn btn-secondary header-button-link">Get information</a>
    </div>
</div>
</body>

<script th:src="@{/js/main.js}"></script>
</html>