<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common::head}">
</head>
<body>
<div th:replace="~{common::main}">
</div>
<div class="list-position container pt-5">
    <table class="table">
        <thead class="text-white">
            <tr>
                <th>Stt</th>
                <th>Mã khách hàng</th>
                <th>Họ và tên</th>
                <th>Cmnd</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Loại khách hàng</th>
                <th>Địa chỉ</th>
            </tr>
        </thead>
       <tbody>
           <tr th:each="customer : ${customers}" class="text-white">
               <td th:text="${customer.id}"></td>
               <td th:text="${customer.customerId}"></td>
               <td th:text="${customer.customerName}"></td>
               <td th:text="${customer.customerIdCard}"></td>
               <td th:text="${customer.customerNumberPhone}"></td>
               <td th:text="${customer.customerEmail}"></td>
               <td th:text="${customer.customerType.getCustomerTypeName()}"></td>
               <td th:text="${customer.customerAddress}"></td>
           </tr>
       </tbody>
    </table>
</div>
</body>
</html>