<div class="content">
    <div class="menu-container container py-5">
        <div class="introduce-header col-6">
            <p class="introduce-header-text">Create Contract</p>
            <h1 class="introduce-header-heading">Furama Resort</h1>
            <p class="introduce-header-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur cupiditate
                ipsam iste molestias neque, numquam quo rerum tenetur vitae!</p>
        </div>
    </div>
    <div class="container create-contract-container py-5">
        <form [formGroup]="contract" (ngSubmit)="createContract()">
            <div class="row mb-3">
                <div class="col-3">
                    <p>Contract code:</p>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="codeContract" formControlName="codeContract">
                    <div *ngIf="!contract.controls.codeContract.valid && contract.controls.codeContract.touched">
                        <p *ngIf="contract.controls.codeContract.errors.required" class="text-danger">Code contract is required</p>
                        <p *ngIf="contract.controls.codeContract.errors.pattern" class="text-danger">Code contract is not valid</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Day start:</p>
                </div>
                <div class="col-9">
                    <input type="date" class="form-control" id="startDate" formControlName="startDate">
                    <div *ngIf="!contract.controls.startDate.valid && contract.controls.startDate.touched">
                        <p *ngIf="contract.controls.startDate.errors.required" class="text-danger">Start date is required</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Day end:</p>
                </div>
                <div class="col-9">
                    <input type="date" class="form-control" id="endDate" formControlName="endDate">
                    <div *ngIf="!contract.controls.endDate.valid && contract.controls.endDate.touched">
                        <p *ngIf="contract.controls.endDate.errors.required" class="text-danger">Start end is required</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Deposit:</p>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="deposit" formControlName="deposit">
                    <div *ngIf="!contract.controls.deposit.valid && contract.controls.deposit.touched">
                        <p *ngIf="contract.controls.deposit.errors.required" class="text-danger">Deposit is required</p>
                        <p *ngIf="contract.controls.deposit.errors.min" class="text-danger">Deposit less than 0</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Customer:</p>
                </div>
                <div class="col-9">
                    <select name="" id="selectCustomer" class="form-control" formControlName="nameCustomer">
                        <option value='' class='form-control' [selected]="ngSelectCustomer">{{ngSelectCustomer}}</option>
                        <option value="Michale Kean">Michale Kean</option>
                        <option value="Stephen Curry">Stephen Curry</option>
                        <option value="Lebron James">Lebron James</option>
                        <option value="Chou Tie Tie">Chou Tie Tie</option>
                    </select>
                    <div *ngIf="!contract.controls.nameCustomer.valid && contract.controls.nameCustomer.touched">
                        <p *ngIf="contract.controls.nameCustomer.errors.required" class="text-danger">Customer is required</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Service type:</p>
                </div>
                <div class="col-9">
                    <select name="" id="selectService" class="form-control" formControlName="facilityInfor">
                        <option value='' class='form-control' [selected]="ngSelectFacility">{{ngSelectFacility}}</option>
                        <option Value="Ocean Outis">Ocean Outis</option>
                        <option Value="Ocean Villa 1">Ocean Villa 1</option>
                        <option Value="Ocean Home 2">Ocean Home 2</option>
                        <option Value="Ocean Room 1">Ocean Room 1</option>
                    </select>
                    <div *ngIf="!contract.controls.facilityInfor.valid && contract.controls.facilityInfor.touched">
                        <p *ngIf="contract.controls.facilityInfor.errors.required" class="text-danger">Facility is required</p>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <p>Attach facility:</p>
                </div>
                <div class="col-9">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Attach Facilities</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body" th:object="${contractDetail}">
                                    <select name="" id="attachForContract" class="form-control">
                                        <option value="" class="form-control">--Select Attach Facility--</option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="modal-body">
                                    <input type="text" id="quantity" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-warning text-white mt-5 mx-3" id="btn-create">Create</button>
                <button class="btn btn-secondary mt-5 mx-3" type="button">
                    <a routerLink="../list-contract/" class="text-white text-decoration-none">Back</a>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="menu-side d-flex align-items-center justify-content-center">
    <a routerLink="../list-contract/" class="d-flex align-items-center justify-content-center
    text-white circle circle-l menu-side-btn text-decoration-none">
        <i class="fa-solid fa-list"></i>
    </a>
</div>
