*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Bitter', serif;
}

.list-item-content-date{
    font-weight: 500;
    font-size: 13px;
}

.list-item-content-title{
    font-weight: 700;
}

.list-item-content-desc{
    font-size: 15px;
}

.list-item-content-link{
    font-size: 18px;
    font-weight: 700;
    color: #EDB654;
}