<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common::head">
</head>
<body>
<header th:replace="/common::header"></header>

<div class="content">
    <div class="menu-container container py-5">
        <div class="menu-header col-6">
            <p class="menu-header-text">Edit Service</p>
            <h1 class="menu-header-heading">Furama Resort</h1>
            <p class="menu-header-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur cupiditate
                ipsam iste molestias neque, numquam quo rerum tenetur vitae!</p>
        </div>
    </div>
    <div class="container create-container py-5">
        <form action="/furama/service/edit" th:object="${facility}" method="post">
            <div class="row">
                <input type="hidden" th:field="*{id}">
                <div class="col-4 mb-3">
                    <label for="">Type service:</label>
                    <select id="selectType" name="" th:field="*{facilityType}" class="form-control" onchange="getForm()">
                        <option value="">---Option Type Service---</option>
                        <option th:each="typeService : ${typeServices}" th:value="${typeService.id}"
                                th:text="${typeService.name}"></option>
                    </select>
                </div>
                <div class="col-4 mb-3">
                    <label for="">Name service:</label>
                    <input type="text" class="form-control" th:field="*{name}" id="name">
                </div>
                <div class="col-4 mb-3">
                    <label for="">Cost:</label>
                    <input type="text" class="form-control" th:field="*{cost}" id="cost">
                </div>
                <div class="col-4 mb-3">
                    <label for="">Type rent:</label>
                    <select name="" th:field="${facility.rentType}" class="form-control" id="rentType">
                        <option value="" th:each="typeRent : ${typeRents}" th:value="${typeRent.id}"
                                th:text="${typeRent.name}"></option>
                    </select>
                </div>
                <div class="col-4 mb-3">
                    <label for="">Quantity People:</label>
                    <input type="text" class="form-control" th:field="*{maxPeople}" id="maxPeople">
                </div>
                <div class="col-4 mb-3">
                    <label for="">Area:</label>
                    <input type="text" class="form-control" id="area" th:field="*{area}">
                </div>
            </div>
            <div class="row" id="form-facility">
                <div id="room-facility" style="display: none">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="">Facility free:</label>
                            <input type="text" class="form-control" id="facilityFree" th:field="*{facilityFree}">
                        </div>
                    </div>
                </div>
                <div id="house-facility" style="display: none">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="">Number of floor:</label>
                            <input type="text" class="form-control" id="numberOfFloor" th:field="*{numberOfFloor}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="">Description:</label>
                            <input type="text" class="form-control" th:field="*{description}">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="">Standard room:</label>
                            <input type="text" class="form-control"  th:field="*{standardRoom}">
                        </div>
                    </div>
                </div>
                <div id="villa-facility" style="display: none">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="">Pool area:</label>
                            <input type="text" class="form-control" id="poolArea" th:field="*{poolArea}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button class="btn btn-warning text-white mt-5 " id="btn-create">Edit</button>
                <button class="btn btn-secondary text-white mt-5 " type="button">
                    <a th:href="@{/furama/service}" class="text-white text-decoration-none">Back</a></button>
            </div>
        </form>
    </div>
</div>

<div class="menu-side d-flex align-items-center justify-content-center">
    <a href="/furama/service" class="d-flex align-items-center justify-content-center
    text-white circle circle-l menu-side-btn text-decoration-none">
        <i class="fa-solid fa-list"></i>
    </a>
</div>

<footer th:replace="/common::footer">

</footer>
</body>
<th:block th:replace="/common::libraries">
</th:block>
</html>