<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common::head">
</head>
<body>
<div class="main">
    <header th:replace="/common::header"></header>

    <div class="content py-5">
        <div class="menu-container container py-5">
            <div class="menu-header col-6">
                <p class="menu-header-text">Welcome</p>
                <h1 class="menu-header-heading">Furama Resort</h1>
                <p class="menu-header-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur cupiditate
                    ipsam iste molestias neque, numquam quo rerum tenetur vitae!</p>
            </div>
        </div>
        <div class="container list-container">
            <p class="text-danger" th:if="${error}" th:text="${error}"></p>
            <table class="table">
                <thead>
                <tr>
                    <th class="table-list">#</th>
                    <th class="table-list">Facility</th>
                    <th class="table-list">Cost</th>
                    <th class="table-list">Max People</th>
                    <th class="table-list">Rent Type</th>
                    <th class="table-list">Facility Type</th>
                    <th class="table-list">Option</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="facility : ${facilities}">
                    <td class="table-list" th:text="${facility.id}"></td>
                    <td class="table-list" th:text="${facility.name}"></td>
                    <td class="table-list" th:text="${facility.cost}"></td>
                    <td class="table-list" th:text="${facility.maxPeople}"></td>
                    <td class="table-list" th:text="${facility.rentType.name}"></td>
                    <td class="table-list" th:text="${facility.facilityType.name}"></td>
                    <td class="table-list">
                        <a th:href="@{/furama/service/edit(id=${facility.id})}" class="btn btn-warning">
                            <i class="fa-solid fa-pen text-white"></i>
                        </a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#delete'+${facility.id}">
                            <i class="fa-solid fa-trash-can text-white"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" th:attr="id='delete'+${facility.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Erase Facility</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you want erase <span th:text="${facility.name}"></span></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">
                                            <a th:href="@{/furama/service/{id}(id=${facility.id})}" class="text-white text-decoration-none">Delete</a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${error}"></p>
            <div class="pagination" th:object="${facilities}">
                <a th:if="${facilities.hasPrevious()}"
                   th:href="@{/furama/service(page=${facilities.number - 1})}" class="pagination-button">
                    Previous
                </a>
                <th:block th:each="pagination : ${pageNumbers}">
                    <a th:href="@{/furama/service(page=${pagination - 1})}"
                       th:text="${pagination}" class="pagination-button">
                    </a>
                </th:block>
                <a th:if="${facilities.hasNext()}"
                   th:href="@{/furama/service(page=${facilities.number + 1})}" class="pagination-button"> Next </a>
            </div>
        </div>
    </div>

    <div class="menu-side d-flex align-items-center justify-content-center">
        <a href="/furama/service/create" class="btn btn-primary text-white circle circle-l menu-side-btn">
            <i class="fa-solid fa-plus icon"></i>
        </a>
    </div>

    <footer th:replace="/common::footer">

    </footer>
</div>
</body>
<th:block th:replace="/common::libraries">
</th:block>
</html>