

<header class="header" id="header">
    <div class="header-container d-flex container-fluid px-4 h-100 align-items-center justify-content-between">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex align-items-center">
                        <a class="nav-link active text-dark" aria-current="page" routerLink="home">Home</a>
                        <div class="dropdown">
                            <a class="dropdown-toggle text-dark text-decoration-none mx-3" role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Option
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item text-dark" href="#facility" routerLink="facility/list-facility" routerLinkActive="active">Service</a></li>
                                <li><a class="dropdown-item text-dark" routerLink="customer/list-customer">Customer</a></li>
                                <li><a class="dropdown-item text-dark">Employee</a></li>
                                <li><a class="dropdown-item text-dark">Contract</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="logo">
            <a routerLink="home" class="text-decoration-none">
                <h4 class="logo-link">Furama</h4>
            </a>
        </div>
        <div class="log-in" id="login">
            <button class="circle circle-m btn btn-login">
                <i class="fa-solid fa-user icon text-dark"></i>
            </button>
        </div>
    </div>
</header>